<header>
  <% flash.each do |key, value| %>
      <%= content_tag :div, value, class: "flash #{key}" %>
  <% end %>
  <video poster="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/polina.jpg" id="bgvid" playsinline autoplay muted loop>
    <!-- WCAG general accessibility recommendation is that media such as background video play through only once. Loop turned on for the purposes of illustration; if removed, the end of the video will fade in the same way created by pressing the "Pause" button  -->
    <source src="http://thenewcode.com/assets/videos/polina.webm" type="video/webm">
    <source src="http://thenewcode.com/assets/videos/polina.mp4" type="video/mp4">
  </video>
  <div class="header-content">
    <div class="header-content-inner">
      <h1 id="homeHeading">Find a tutor that can help you now.</h1>
      <hr>
      <p>Find a fellow student near you now that has already taken the class to help you go through it.</p>

      <a href="" class="btn btn-primary btn-xl">Find Out More</a>

      </div>
    </div>
  </div>

</header>

